*{
  outline:0;
  padding:0;
  margin: 0;
  border: 0;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}
.cuerpo{
  margin: 15vh;
  padding: 5vh;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rojo {
  text-decoration:line-through;
}
.fila{
  display: flex;
  gap: 2vh;
  width: 80%;
  align-items: center;
}
.entrada{
  display: flex;
  gap: 2vh;
  width: 80%;
  align-items: center;
}
p{
  flex:2;
  display: flex;
  justify-content: center;
}
.but{
  flex:0.8;
}
.casilla{
  flex:1.5;
}
label{
  flex:0.7;
  margin-left: 1vh;
}